<form action="">
    <h1>CRIANDO UM NOVO LIVRO</h1>

    <mat-form-field class="form">
        <mat-label>Titulo</mat-label>
        <input matInput [(ngModel)]="livro.titulo" [formControl]="titulo" required type="text" name="titulo" placeholder="Ex: Spring boot com angular 11" maxlength="100">
        <mat-error *ngIf="titulo.invalid">{{ getMessage() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Nome do Autor</mat-label>
        <input matInput [(ngModel)]="livro.autor" [formControl]="autor" required type="text" name="autor" placeholder="Ex: Alan Turin" maxlength="100">
        <mat-error *ngIf="autor.invalid">{{ getMessage() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Texto</mat-label>
        <textarea matInput [(ngModel)]="livro.texto" [formControl]="texto" required  type="text" name="texto" placeholder="Ex: Lorem Ipsum" maxlength="2000000"></textarea>
        <mat-error *ngIf="texto.invalid">{{ getMessage() }}</mat-error>
    </mat-form-field>

    <div class="buttons">
        <button (click)="create()" [disabled]="getMessage()"  class="mat-elevation-z8"  mat-stroked-button color="primary">CRIAR</button>
        <button (click)="cancelar()" class="mat-elevation-z8"  mat-stroked-button color="warn">CANCELAR</button>
    </div>
</form>
